body {
    background-image: url("Noc.png");
    background-repeat: no-repeat;
    font: 16px Tahoma, sans-serif;
    background-color:#1b1b32;
    color: #f5f6f7;  
    width:100%;
    height: 100vh;
    margin: 0;
  }

  div {
    height: 200px;
    width: 100%;
    align-items:center;
      }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding-bottom: 2em;
  }
  
  label {
      display: block;
      margin: 0.5rem 0;
    }
  
    fieldset {
      padding: 2rem 0;
      border: none;
      border-bottom: 3px solid #3b3b4f;
    }

     /* Style padding on input with the file type for bigger text */
  input[type="file"] {
    padding: 1px 2px;
  }

  /* Change text color to a element terms and conditions */
  a {
    color: #dfdfe2;
  } 