/* Main stylings */
body {
    background-color: MidnightBlue;
}

h1 {
    text-align: center;
    color: LightSkyBlue;
}



/* Styling opening statement */

.intro {
    text-align: left;
    padding: 30px;
    width: 40%;
    height: 200px;
    margin: 0 auto;
    background-color: lightskyblue;
    border-radius: 25px;
    border: 5px solid dimgray;
}
    
    

.form_body {
    text-align: left;
    padding: 30px;
    background-color: lightskyblue;
    width: 40%;
    height: 600px;
    margin: 1% auto;
    border-radius: 25px;
    border: 5px solid dimgray;    
}